//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'
  - var isMarkerless = config.isMarkerless || './'
  - var isARJS = config.isARJS || './'
  - var isOldARjs = config.isOldARjs || './'

doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

    title AR Firestarter

    meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')

    link(rel='manifest' href='/manifest.json')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='msapplication-TileColor' content='#000000')
    meta(name='msapplication-TileImage', content= baseUrl + 'assets/ar/images/favicon/ms-icon-144x144.png')
    meta(name='theme-color' content='#000000')

    link(rel='apple-touch-icon' sizes='57x57', href= baseUrl + 'assets/ar/images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60', href= baseUrl + 'assets/ar/images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72', href= baseUrl + 'assets/ar/images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76', href= baseUrl + 'assets/ar/images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114', href= baseUrl + 'assets/ar/images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120', href= baseUrl + 'assets/ar/images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144', href= baseUrl + 'assets/ar/images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152', href= baseUrl + 'assets/ar/images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180', href= baseUrl + 'assets/ar/images/favicon/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192', href= baseUrl + 'assets/ar/images/favicon/android-icon-192x192.png')

    link(rel='icon' type='image/png' sizes='32x32', href= baseUrl + 'assets/ar/images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96', href= baseUrl + 'assets/ar/images/favicon/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16', href= baseUrl + 'assets/ar/images/favicon/favicon-16x16.png')

    if isNewARjs
      script(src=baseUrl + 'assets/ar/js/vendor/aframe/aframe-v1.0.4.min.js')
      script(src=baseUrl + 'assets/ar/js/vendor/aframe/aframe-look-at-component.min.js')
      script(src=baseUrl + 'assets/ar/js/vendor/aframe/aframe-ar-nft.js')
    else if isOldARjs
      script(src=baseUrl + 'assets/ar/js/vendor/aframe/aframe-v0.8.0.min.js')

    if isARJS
      script(src=baseUrl + 'assets/ar/js/vendor/aframe/aframe-ar.min.js')
      script.
        ARjs.Context.baseURL = '../assets/ar/js/vendor/three.js/'
      script(src=baseUrl + 'assets/ar/js/vendor/aframe/aframe-extras.loaders.min.js')
      script(src= baseUrl + 'assets/ar/js/main.js')

    block stylesheets
      link(rel='stylesheet', href= baseUrl + 'assets/ar/css/main.css')

  body(style="margin: 0px; overflow: hidden;")
    a.skip-link(href='#main') Skip to content

    block content

    block scripts
      if isMarkerless
        script(type='module' src='https://unpkg.com/@google/model-viewer/dist/model-viewer.js')
        script(nomodule='' src='https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js')

        script(src= baseUrl + 'assets/ar/js/main.js')

      script#toaster-template(type='text/template')
        | {{? it.isReload }}
        .toaster__card.-refresh(class='toaster{{= it.ind }}')
          p {{! it.message }}
          button.btn-refresh.js-refresh REFRESH
          button.js-dismiss
            span.sr-only Close
            i.icon.icon-cross
        | {{?? }}
        .toaster__card(class='toaster{{= it.ind }}')
          p {{! it.message }}
          button.js-dismiss
            span.sr-only Close
            i.icon.icon-cross
        | {{? }}