extends _layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = './'

block content
    model-viewer(
        ar='',
        auto-rotate='',
        background-color='#29a7f5',
        src= baseUrl + 'assets/ar/models/camp.glb',
    )


    //- model-viewer(
    //-     src=baseUrl + 'assets/ar/models/Astronaut.glb',
    //-     ar='',
    //-     camera-controls='',
    //-     alt='A 3D model of an astronaut',
    //-     background-color='#222',
    //-     ios-src=baseUrl + 'assets/ar/models/Astronaut.usdz',
    //-     magic-leap='',
    //-     unstable-webxr=''
    //- )